.note-container
{
    margin-top: 5vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.note-expansion-panel
{
    margin: 0 auto;
    width: 70vw;
}

.note-form
{
    display: flex;
    flex-direction: column;
}


.card-container
{
    margin:10vh 15vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}